@import "tailwindcss";

@font-face {
	font-family: "Space Mono";
	src: url("../../public/spacemono/SpaceMono-Regular.ttf");
}
@font-face {
	font-family: "Goorm";
	src: url("../../public/goorm-sans-code.woff2") format("woff2");
}

/* responsive to screen size */
/* currently desktop and tablet+phones(under 700px width) */
@media only screen and (min-width: 760px) {	
	#weather
	{ flex-direction: row; }
}
@media only screen and (max-width: 760px) {
	:root {
		--spacing: 0.18rem;

	}
	html {
		font-size: 0.9rem;
	}
	/* navbar display */
	#navbar {
		justify-content: center;
		height: 3rem;
	}
	#navTitle {
		display: none;
	}
	#navSearch {
		width: 100%;
	}
	#navSearch form {
		height: 30px;
	}

	/* weather display */
	#weather {
		flex-direction: column;
		padding: 0.2rem;
		gap: 0.1rem;
		min-height: max-content;
	}
	#weatherMain {
		flex-direction: row;
		gap: 2.5rem;
		padding-left: 1rem;
		align-items: center;
	}
	#weatherAdd {
		flex-direction: column;
		width: 100%;
		align-items: center;
		gap: 0.2rem;
	}
	#weatherAdd>div {
		flex-direction: row;
		width: 100%;
		padding: 0.1rem;
	}

	#forecast {
		flex-direction: column;
	}
}

.font-spacemono {
	font-family: "Space Mono";
}
.font-goorm {
	font-family: "Goorm";
}
.bg-gray-350
{
	background-color: oklch(87.7% 0.014 17.457);
}